:root {
  --navBarColor: rgb(85, 66, 64);
  --accentColor: rgb(230, 87, 77);
  --accentColorLight: rgb(248, 121, 112);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fff2d8;
}

a {
  text-decoration: none;
}

.topNav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 5rem;
  background-color: var(--navBarColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  box-shadow: 3px 0px 5px black;
}

.navLogo {
  display: block;
  height: 100%;
  background-color: var(--accentColor);
  padding: 2px 20px 2px 20px;
  border-right: 35px solid rgb(165, 53, 45);
}

.navLogo:hover img {
  filter: drop-shadow(0px 0px 30px rgb(255, 255, 255)) brightness(1.3);
  scale: 1.04;
}

.navLogo img {
  height: 100%;
  transition: 150ms all ease-in-out;
}

.searchFormContainer {
  width: 40%;
}

.searchForm {
  width: 100%;
  height: auto;
  background-color: white;
  position: relative;
  display: flex;
  padding: 8px;
  border-radius: 20px;
}

.searchForm .searchButton {
  border: none;
  outline: none;
  background: none;
}

.searchForm .search {
  border: none;
  outline: none;
  width: 100%;
}

.sidebar {
  position: fixed;
  top: 5rem;
  right: 0;
  height: calc(100vh - 4rem);
  width: 300px;
  transform: translateX(300px);
  transition: transform 0.5s ease-in-out;
  background-color: hsl(0, 0%, 10%);
  z-index: 10;
  overflow: scroll;
  border-top: 6px solid var(--accentColor);
}

.sidebar.open {
  transform: translateX(0px);
}

.postPageContainer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pageContainer {
  width: 80%;
  margin: 0 auto;
  position: relative;
  top: 7rem;
  max-width: 800px;
  padding-bottom: 100px;
}

.postsContainer {
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.postsContainer .post {
  display: flex;
  flex-direction: column;
  border-radius: 4px 4px 20px 20px;
  outline: 1px solid black;
}

.postsContainer .post .postInfoContainer {
  background-color: hsl(0, 13.2%, 14.9%);
  color: white;
  padding: 10px 4px 10px 10px;
  border-radius: 4px 4px 0 0;
}

.postsContainer .post .postInfoContainer .postTitle {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
}

.postsContainer .post .postInfoContainer .postComments {
  display: block;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.8rem;
}

.postsContainer .post .postImgContainer {
  position: relative;
  overflow: hidden;
  max-height: 600px;
  border-radius: 0 0 20px 20px;
  transition: max-height 0.45s ease-in-out;
}

.postsContainer .post .postImgContainer:hover {
  max-height: 1600px;
}

.postVideoContainer video {
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.postPageContainer .postVideoContainer video {
  box-shadow: 4px 4px 6px #000000c2;
border-radius: 8px;
}

.postGalleryContainer {
  position: relative;
  overflow: hidden;
}

.postGalleryContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 0 20px 20px;
  transition: all 150ms ease-in-out;
}

.slideButton.next {
  display: inline-block;
  width: 4em;
  height: 4em;
  border: 0.5em solid #d3d3d3;
  border-radius: 50%;
  margin-left: 1.5em;
  position: absolute;
  transform: translate(0, -50%);
  top: 50%;
  right: 10px;
  background: #68686857;
  transition: 100ms all ease-in-out;
  cursor: pointer;
}

.slideButton.next:after {
  content: "";
  display: inline-block;
  margin-top: 0.3rem;
  margin-left: -0.3rem;
  width: 1.4em;
  height: 1.4em;
  border-top: 0.5em solid #d3d3d3;
  border-right: 0.5em solid #d3d3d3;
  transform: rotate(45deg);
  transition: 100ms all ease-in-out;
}

.slideButton.prev {
  display: inline-block;
  width: 4em;
  height: 4em;
  border: 0.5em solid #d3d3d3;
  border-radius: 50%;
  margin-right: 1.5em;
  position: absolute;
  transform: translate(0, -50%);
  top: 50%;
  left: 10px;
  background: #68686857;
  transition: 100ms all ease-in-out;
  cursor: pointer;
}

.slideButton.prev:after {
  content: "";
  display: inline-block;
  margin-top: 0.3rem;
  margin-left: 0.3rem;
  width: 1.4em;
  height: 1.4em;
  border-top: 0.5em solid #d3d3d3;
  border-right: 0.5em solid #d3d3d3;
  -moz-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  transition: 100ms all ease-in-out;
}

.slideButton.next:hover,
.slideButton.prev:hover {
  border: 0.5em solid var(--accentColor);
  filter: drop-shadow(1px 1px 2px var(--accentColor));
}

.slideButton.next:hover::after,
.slideButton.prev:hover::after {
  border-top: 0.5em solid var(--accentColor);
  border-right: 0.5em solid var(--accentColor);
  filter: drop-shadow(1px 1px 2px var(--accentColor));
}

.postImgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pageNavButton {
  border: none;
  position: fixed;
  height: 50px;
  width: 50px;
  border: 4px solid rgb(107, 107, 107);
  color: rgb(107, 107, 107);
  border-radius: 50%;
  font-size: 35px;
  font-weight: 900;
  background-color: rgba(0, 0, 0, 0.48);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 3px 2px;
  cursor: pointer;
  filter: drop-shadow(0px 0px 4px #111111e6);
}

.pageNavButton:hover {
  border: 4px solid var(--accentColor);
  color: var(--accentColor);
  filter: drop-shadow(0px 0px 3px var(--accentColor));
}

.pageNavButton.next {
  top: 6rem;
  right: 10%;
}

.pageNavButton.prev {
  top: 10rem;
  right: 10%;
}

.singlePostImgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  filter: drop-shadow(2px 2px 6px rgb(66, 66, 66));
}

.commentsContainer ul {
  list-style: none;
  padding: 10px;
}

.commentsContainer ul > li {
  padding: 15px 0 15px 0;
  border-bottom: 1px solid;
}

.sidebarInput {
  width: 94%;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  margin: 10px;
  outline: none;
}

.sidebarInput:focus-visible {
  filter: drop-shadow(0px 0px 6px white);
}

.subredditList {
  padding: 0px 30px;
  margin: 0;
  list-style: none;
  outline: none;
}

.subredditList li a {
  padding: 3px 0px;
  color: white;
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: all 150ms ease-in-out;
}

.subredditList li a:hover {
  color: var(--accentColorLight);
}

.postTextContainer {
  padding: 2px 10px 10px 15px;
}

.postTextContainer.selftext {
  background-color: white;
}

.postTextContainer.noSelftext {
  background-color: hsl(0, 13.2%, 14.9%);
  border-radius: 0 0 20px 20px;
}

.selftextDisplay {
  color: black;
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.selftextDisplay * {
  word-break: break-word;
}

.loadingBackground {
  background-color: gray;
  animation-name: loadingBackground;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes loadingBackground {
  from {
    background-color: rgb(100, 100, 100);
  }
  to {
    background-color: rgb(211, 211, 211);
  }
}

.placeholderTitle {
  height: 50px;
  width: 300px;
  border-radius: 10px;
}

.placeholderImg {
  opacity: 0.7;
  animation-name: loadingImg;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes loadingImg {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 0.4;
  }
}

.buttonLink {
  color: rgb(0, 0, 0);
  background: var(--accentColor);
  padding: 8px 15px;
  font-size: 1.1rem;
  border-radius: 10px;
  box-shadow: 2px 4px 0px rgb(80, 80, 80);
  position: relative;
  transition: all 100ms ease-in-out;
  top: 0;
  left: 0;
  font-weight: 700;
  margin: 0 0 10px 0;
  display: inline-block;
}

.buttonLink:active {
  box-shadow: none;
  top: 4px;
  left: 2px;
}

.buttonLink:hover {
  background: var(--accentColorLight);
}

.toggleSidebarButton {
  width: 50px;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  background-color: var(--navBarColor);
  border: none;
  margin: 0 15px 0 0;
}

.toggleSidebarButton span {
  display: block;
  position: absolute;
  height: 7px;
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.toggleSidebarButton span:nth-child(1) {
  top: 2px;
}

.toggleSidebarButton span:nth-child(2),
.toggleSidebarButton span:nth-child(3) {
  top: 18px;
}

.toggleSidebarButton span:nth-child(4) {
  top: 34px;
}

.toggleSidebarButton.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.toggleSidebarButton.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.toggleSidebarButton.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.toggleSidebarButton.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

@media only screen and (max-width: 850px) {
  .pageContainer {
    width: 95%;
  }
}